h2
{
    color: darkblue;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
h1
{
    color: blue;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.password
{
    color: rgb(130, 6, 147);
    height: auto;
    line-height: normal;

}
.done
{
    color: green;
}
.back h1
{
    color: rgba(181, 19, 116, 0.667);
}
.last
{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    font-style: italic;
    text-align: start;
}